.sidebar {
    width: 150px;
    background: linear-gradient(to top, #fffbfb, #22b3ba);
    color: #000000;
    height: 100vh;
    padding: 20px;
    position: fixed;
    border-top-right-radius: 60px;
    z-index: 1;
    border-bottom-right-radius: 60px;
    top: 0;
    left: 0;
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: #cfddeb;
    border-radius: 20px;
}
