.card {
    width: 85%;
    height: fit-content;
    border-radius: 15px;
    margin-left: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.manage-programs-title {
    margin-left: 80px;
    margin-top: 70px;
    font-size: 30px;
    font-weight: bold;
}

.table-filter {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 20px;
}

.search-input {
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.search-button {
    border-radius: 20px;
    width: 150px;
}

.p-paginator {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: none;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent;
    color: #333;
    border-radius: 50%;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #007bff;
    color: white;
}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
}

.p-button-rounded {
    padding: 0.25em 0.5em;
}

.p-menu {
    width: 10rem;
}

