.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./imgages/background.jpeg);
}

.login-card {
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 250, 240);
  border-radius: 40px; 
}

.login-card input {
  width: 100%;}

.input-field{
  margin: 25px;
  border-radius: 20px;
}
.dropdown-organization{
  width: 100%;  
}


.custom-dropdown{
  width: 85%;
  
}

.subheading {
  margin-top: 0; 
  margin-bottom: 50px; 
  font-size: 1.2rem; 
}



@media screen and (max-width: 768px) {
  .app-container {
    height: 100vh;
    justify-content: flex;
    align-items: center;
    }
}